#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!.docker*
!data*
!helerm*
!locale*
!metarecord*
!search_indices*
!users*

#################################################
# Whitelisted files
#################################################
!LICENSE
!manage.py
!requirements*.txt
