#################################################
# Exclude all by default
#################################################
*

#################################################
# Included folders
#################################################
!helerm*
!locale*
!metarecord*
!users*
!deploy*

#################################################
# Included files
#################################################
!manage.py
!pytest.ini
!requirements*
!dev-requirements*
!README.md
!LICENSE
