Django~=3.1.5
django-elasticsearch-dsl-drf
django-environ
django-helusers
pytz
psycopg2
openpyxl
pyxb
djangorestframework
django-cors-headers
django-filter
django-allauth
django-admin-json-editor
djangorestframework-jwt
django-admin-sortable2
djangorestframework-xml
sentry-sdk
