pip-tools
Django
-e git+https://github.com/City-of-Helsinki/django-helusers.git#egg=django-helusers
pytz
psycopg2
openpyxl
pyxb
djangorestframework
pytest-django
django-cors-headers
django-hstore
django-filter
django-allauth
djangorestframework-jwt
