Django~=5.2
django-elasticsearch-dsl-drf
django-environ
django-helusers
elasticsearch-dsl>=8.0.0,<8.13.0
elasticsearch<8.14  # Confirmed version to pass tests
elastic-transport<8.14  # Confirmed version to pass tests
psycopg[c]
openpyxl
djangorestframework
django-cors-headers
django-filter
django-admin-json-editor
django-admin-sortable2
djangorestframework-xml
ipython
lxml
sentry-sdk
social-auth-app-django
social-auth-core
uwsgi
